<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Pledge</title>
</head>
<body>
<%= if length(pledges) > 0 do %>
  <ul>
      <%= for pledge <- pledges do %>
          <li><%= elem(pledge, 0) %> - $<%= elem(pledge, 1) %></li>
      <% end %>
  </ul>
  <a href="/pledges/new">Make another?</a>
<% else %>
  Nothing to show yet. <a href="/pledges/new">Make?</a>
<% end %>

</body>
</html>
